body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}
input{
    border: 1.2px solid lightslategray;
    border-radius: 6px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 15px;
}
label{
    font-weight: bold;
    font-size: 16px;
}
img{
    z-index: 1;
    object-fit: contain;
    position: relative;
}
button{
    
}

.nametext{
    margin-top: 6em;
    align-content: center;
    background: rgb(249, 250, 251, 0.8);
    padding: 0.1em;
}
.container{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    width: 900px;
    background: #f9fafb;
}

.flex-item1{
    position: relative;
    text-align: center;
    width: 300px;
    background-image: url('images/splash.gif');
    border-radius: 20px 0 0 20px;
    background-size: contain;
}
.flex-item2{
       width: 600px;
}

form{
    background: white;
    padding: 2em;
    box-shadow: 0 0 1.5px;
}
.row > td{
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.bottom{
    padding: 2em;
}
.top{
    padding: 2em;
}
.failedtext{
    color: red;
}
